<section class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div
        id="seated-55fdf2c0"
        data-artist-id="0dd41d4d-c9b0-41a5-b3a1-49f5d9d810b1"
        data-css-version="2"
        class="text-black dark:text-white"
    >
    </div>
    <script is:inline src="https://widget.seated.com/app.js"></script>
</section>
