@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("gambetta.css");

@font-face {
  font-family: "Aero-Font-One";
  src: url("../assets/fonts/Aero-Font-One.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
